<mdl-layout mdl-layout-fixed-header mdl-layout-header-seamed mdl-layout-mode="waterfall">
  <mdl-layout-header>
    <mdl-layout-header-row>
      <mdl-layout-title>Pisces</mdl-layout-title>
      <mdl-layout-spacer></mdl-layout-spacer>
      <!-- Navigation. We hide it in small screens. -->
      <nav class="mdl-navigation mdl-layout--large-screen-only">
          <a class="mdl-navigation__link" >首页</a>
          <a class="mdl-navigation__link" >关于</a>
          <a class="mdl-navigation__link" >联系</a>
          <a class="mdl-navigation__link" >试用</a>
          <a class="mdl-navigation__link" (click)="showLoginDlg($event);" href="#">登录</a>
      </nav>
    </mdl-layout-header-row>
  </mdl-layout-header>
  <mdl-layout-drawer>
    <mdl-layout-title>Pisces</mdl-layout-title>
    <nav class="mdl-navigation">
      <a class="mdl-navigation__link" >首页</a>
      <a class="mdl-navigation__link" >关于</a>
      <a class="mdl-navigation__link" >联系</a>
      <a class="mdl-navigation__link" >试用</a>
      <a class="mdl-navigation__link" (click)="showLoginDlg($event);" href="#">登录</a>
    </nav>
  </mdl-layout-drawer>
  <mdl-layout-content>
    <!-- Your content goes here -->
    <div class="index_section">  
    <div class="mdl-grid">
      <div class="mdl-cell mdl-cell--4-col mdl-cell--6-col-tablet mdl-cell--4-col-phone">
        <h2>big picture</h2>
      </div>
    </div>
    </div>

    <div class="index_section">
    <div class="mdl-grid">
      <div class="mdl-cell mdl-cell--4-col mdl-cell--6-col-tablet mdl-cell--4-col-phone">
        <h2>Description</h2>
      </div>
    </div>
    <div class="mdl-grid">
      <div class="mdl-cell mdl-cell--3-col mdl-cell--4-col-tablet mdl-cell--4-col-phone">
          <mdl-card mdl-shadow="2" class="index_card">
    <mdl-card-title>
      <h2 mdl-card-title-text>Welcome</h2>
    </mdl-card-title>
    <mdl-card-supporting-text>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit.
      Mauris sagittis pellentesque lacus eleifend lacinia...
    </mdl-card-supporting-text>
    <mdl-card-actions mdl-card-border>
      <button mdl-button mdl-colored mdl-ripple>Get Started</button>
    </mdl-card-actions>
    <mdl-card-menu>
      <button mdl-button mdl-button-type="icon" mdl-ripple>
        <mdl-icon>share</mdl-icon>
      </button>
    </mdl-card-menu>
  </mdl-card>
      </div>
      <div class="mdl-cell mdl-cell--3-col mdl-cell--4-col-tablet mdl-cell--4-col-phone">
          <mdl-card mdl-shadow="2" class="index_card">
    <mdl-card-title>
      <h2 mdl-card-title-text>Welcome</h2>
    </mdl-card-title>
    <mdl-card-supporting-text>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit.
      Mauris sagittis pellentesque lacus eleifend lacinia...
    </mdl-card-supporting-text>
    <mdl-card-actions mdl-card-border>
      <button mdl-button mdl-colored mdl-ripple>Get Started</button>
    </mdl-card-actions>
    <mdl-card-menu>
      <button mdl-button mdl-button-type="icon" mdl-ripple>
        <mdl-icon>share</mdl-icon>
      </button>
    </mdl-card-menu>
  </mdl-card>
      </div>
      <div class="mdl-cell mdl-cell--3-col mdl-cell--4-col-tablet mdl-cell--4-col-phone">
          <mdl-card mdl-shadow="2" class="index_card">
    <mdl-card-title>
      <h2 mdl-card-title-text>Welcome</h2>
    </mdl-card-title>
    <mdl-card-supporting-text>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit.
      Mauris sagittis pellentesque lacus eleifend lacinia...
    </mdl-card-supporting-text>
    <mdl-card-actions mdl-card-border>
      <button mdl-button mdl-colored mdl-ripple>Get Started</button>
    </mdl-card-actions>
    <mdl-card-menu>
      <button mdl-button mdl-button-type="icon" mdl-ripple>
        <mdl-icon>share</mdl-icon>
      </button>
    </mdl-card-menu>
  </mdl-card>
      </div>
      <div class="mdl-cell mdl-cell--3-col mdl-cell--4-col-tablet mdl-cell--4-col-phone">
          <mdl-card mdl-shadow="2" class="index_card">
    <mdl-card-title>
      <h2 mdl-card-title-text>Welcome</h2>
    </mdl-card-title>
    <mdl-card-supporting-text>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit.
      Mauris sagittis pellentesque lacus eleifend lacinia...
    </mdl-card-supporting-text>
    <mdl-card-actions mdl-card-border>
      <button mdl-button mdl-colored mdl-ripple>Get Started</button>
    </mdl-card-actions>
    <mdl-card-menu>
      <button mdl-button mdl-button-type="icon" mdl-ripple>
        <mdl-icon>share</mdl-icon>
      </button>
    </mdl-card-menu>
  </mdl-card>
      </div>
    </div>
</div>

    <div class="index_section">  
    <div class="mdl-grid">
      <div class="mdl-cell mdl-cell--4-col mdl-cell--6-col-tablet mdl-cell--4-col-phone">
        <h2>advantages</h2>
      </div>
    </div>
    </div>

    <div class="index_section">  
    <div class="mdl-grid">
      <div class="mdl-cell mdl-cell--4-col mdl-cell--6-col-tablet mdl-cell--4-col-phone">
        <h2>plans</h2>
      </div>
    </div>
    </div>

    <footer class="mdl-mini-footer">
      <div class="mdl-mini-footer__left-section">
        <div class="mdl-logo">Pisces</div>
        <ul class="mdl-mini-footer__link-list">
          <li><a href="#">Help</a></li>
          <li><a href="#">Privacy & Terms</a></li>
        </ul>
      </div>
      <div class="mdl-mini-footer__right-section">
        <ul class="mdl-mini-footer__link-list">
          <li>CopyRight 2016. All Rights reserved by Pisces.</li>
        </ul>
      </div>
    </footer>
  </mdl-layout-content>
</mdl-layout>