<div class="index_section">  
  <div class="mdl-grid">
    <div class="mdl-cell mdl-cell--12-col mdl-cell--6-col-tablet mdl-cell--4-col-phone grid-banner angled-135 stripes">
    </div>
  </div>

  <div class="mdl-grid">
    <div class="mdl-cell mdl-cell--6-col mdl-cell--6-col-tablet mdl-cell--4-col-phone">
      <mdl-card mdl-shadow="2" class="index_card">
        <mdl-card-title>
          <mdl-icon>message</mdl-icon>&nbsp;<h2 mdl-card-title-text>联系我们</h2>&nbsp;Contact Us
        </mdl-card-title>
        <mdl-card-supporting-text>
          <p>
            Hello 您好
          </p>
          <p>
            感谢您来到xxxx，若您有任何意见或者建议，请填写右侧相关信息，或者使用以下联系方式联系我们。我们将尽快给您回复，并为您提供最真诚迅捷的服务。谢谢。
          </p>
          <br><br>
          <mdl-list>
            <mdl-list-item>
              <mdl-list-item-primary-content>
                <mdl-icon>place</mdl-icon>&nbsp;地址：324234234234234
              </mdl-list-item-primary-content>
            </mdl-list-item>
            <mdl-list-item>
              <mdl-list-item-primary-content>
                <mdl-icon>phone</mdl-icon>&nbsp;电话：5435345345345
              </mdl-list-item-primary-content>
            </mdl-list-item>
            <mdl-list-item>
              <mdl-list-item-primary-content>
                <mdl-icon>contact_mail</mdl-icon>&nbsp;邮箱：657567567567567
              </mdl-list-item-primary-content>
            </mdl-list-item>
          </mdl-list>
        </mdl-card-supporting-text>
      </mdl-card>
    </div>
    <div class="mdl-cell mdl-cell--6-col mdl-cell--6-col-tablet mdl-cell--4-col-phone">
      <mdl-card mdl-shadow="2" class="index_card">
        <mdl-card-title>
          <mdl-icon>question_answer</mdl-icon>&nbsp;<h2 mdl-card-title-text>请填写</h2>
        </mdl-card-title>
        <mdl-card-supporting-text>
          <p>
            <mdl-textfield type="text" label="姓名..." floating-label></mdl-textfield>
          </p>
          <p>
            <mdl-textfield type="text" label="电话..." floating-label></mdl-textfield>
          </p>
          <p>
            <mdl-textfield type="text" label="邮箱..." floating-label></mdl-textfield>
          </p>
          <p>
            <mdl-textfield label="留言内容..." rows="5" maxrows="8" floating-label></mdl-textfield>
          </p>
        </mdl-card-supporting-text>
        <mdl-card-actions mdl-card-border>
          <button mdl-button mdl-colored="primary" mdl-ripple mdl-button-type="mini-fab"><mdl-icon>add</mdl-icon></button>
        </mdl-card-actions>
      </mdl-card>
    </div>
  </div>

  <div class="mdl-grid">
    <div class="mdl-cell mdl-cell--12-col mdl-cell--6-col-tablet mdl-cell--4-col-phone angled-135 stripes">
    </div>
  </div>
</div>